.gallery-container.marketing {
  padding-top: 0;
}

.gallery-container.marketing h2 {
  text-align: center;
  padding-bottom: 40px;
}

.gallery-container.marketing .gallery-wrapper {
  border: 1px solid #000;
  padding: 10px 20px;
}

.gallery .selected-slide {
  display: flex;
  flex-direction: column;
}

.gallery .selected-slide .slide-content{
  padding: 0;
  width: 100%;
  font-size: var(--body-font-size-s);
}

.gallery .selected-slide .gallery-image {
  display: flex;
  justify-content: center;
  max-height: 550px;
  position: relative;
}

.gallery .selected-slide .gallery-image img {
  object-fit: contain;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery .selected-slide .gallery-image::before {
  padding-bottom: 90%;
  display: block;
  height: 0;
  width: 100%;
  content: "";
  box-sizing: border-box;
}

.gallery .slide-container {
  display: flex;
  gap: 10px;
  padding: 15px;
  justify-content: center;
}

.gallery .slide-container .gallery-slide {
  width: 90px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: content-box;
  border-radius: 5px;
  overflow: hidden;
}

.gallery-container.marketing .gallery-wrapper .gallery .slide-container .gallery-slide {
  border-width: 0;
  border-radius: 0;
}

.gallery .slide-container .gallery-slide.selected {
  border: 2px solid #000;
}

.gallery-container.marketing .gallery-wrapper .gallery .slide-container .gallery-slide.selected {
  padding-bottom: 4px;
  border-bottom: 4px solid var(--link-color);
}

.gallery .slide-container .gallery-slide picture {
  display: flex;
}

.gallery .slide-container .gallery-slide picture::before {
  padding-bottom: 90%;
  display: block;
  height: 0;
  width: 100%;
  content: "";
  box-sizing: border-box;
}

.gallery .slide-container .gallery-slide .slide-content {
  display: none;
}

@media (min-width: 900px) {
  .gallery-container.marketing .gallery-wrapper {
    padding: 40px 100px;
  }

  .gallery .selected-slide .slide-content{
    padding: 50px;
  }

  .gallery .selected-slide {
    flex-direction: row;
  }

  .gallery .gallery-image {
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
  }

  .gallery .gallery-image img {
    width: auto;
    height: 100%;
    min-width: 530px;
  }
}