.columns-container h2 {
    text-align: center;
}

.columns > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex .columns > div {
    width: 100%;
    padding-bottom: 40px;
    margin: 10px;
}

.columns-container .button-container {
    text-align: center;
}

body.left .columns-container h2 {
    text-align: left;
}

body.left .columns > div {
    text-align: left;
}

body.left .columns-container .button-container {
    text-align: left;
}

.columns > div p {
    font-size: var(--body-font-size-s);
}

.flex .columns {
    display: flex;
    flex-wrap: wrap;
}

.flex .columns img {
    width: 100%;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        margin-left: 32px;
    }

    .flex .columns > div {
        width: 30%;
        flex-direction: column;
    }
    
    .flex .columns > div > div {
        margin-left: 15px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }

    .flex .columns > div > div:first-of-type {
        width: 100%;
    }
}