main {
  min-height: 1430px;
}

:scope main .responsive-image-container .responsive-image-wrapper {
  max-width: 1240px;
  padding: 5px 16px;
  box-sizing: border-box;
}

.default-content-wrapper p {
  margin: 0;
  text-align: left;
  font-size: var(--body-font-size-s);
  font-weight: 700;
}

.default-content-wrapper p:nth-child(1) {
  display: none;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  max-width: 1240px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.product-card {
  position: relative;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  padding-top:20px;
  align-items: stretch;
  box-sizing: border-box;
}

.product-card .image {
  position: relative;
}

.product-card .image .hidden {
  display: none;
}

.product-card .image::before {
  padding-bottom: 100%;
  display: block;
  height: 0;
  width: 100%;
  content: "";
  box-sizing: border-box;
}

.product-card .image img {
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card .details {
  padding-top: 20px;
  min-height: 150px;
}

.product-card .details .title {
  font-size: var(--heading-font-size-xs);
  color: #000;
  font-weight: bold;
  display: block;
  line-height: 24px;
}

.product-card .details .subtitle {
  font-size: var(--heading-font-size-xs);
}

.product-card .actions .button {
  width: 100%;
}

.product-card .actions .login {
  margin-top: 0;
  font-size: var(--body-font-size-xs);
}

@media (min-width: 780px) {
  .category-container .details {
    padding-top: 20px;
    min-height: 200px;
  }

  .product-card {
    flex: 0 0 33%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .product-card .actions .button {
    width: 152px;
  }

  .default-content-wrapper p:nth-child(1) {
    padding: 5px 16px;
    display: block;
    min-height: 54px;
  }

  .product-card .details .title {
    font-size: var(--heading-font-size-m);
    line-height: 35px;
  }

  .product-card .details .subtitle {
    font-size: var(--body-font-size-s);
    line-height: 35px;
  }

  .default-content-wrapper p:nth-child(2) {
    min-height: 54px;
  }
}

@media (min-width: 1080px) {
  .product-card {
    flex: 0 0 25%;
  }
}