:scope main > .section:first-of-type {
  padding: 0;
}

.product {
  display: flex;
  flex-direction: column;
}

.product .info {
  padding: 15px;
  font-size: var(--body-font-size-s);
}

.product .info h1 {
  margin-top: 10px;
}

.product .info .login {
  font-size: var(--body-font-size-xs);
}

.product .info .button {
  margin-top: 20px;
  width: 100%;

}

main .product-container .product-details-wrapper {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}

.recommended {
  padding: 20px;
}

.recommended .products .product-card a {
  margin: 0 auto;
  width: 100%;
}

.recommended h2 {
  font-weight: 400;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
}

.recommended .products .product-card .details .title {
  font-weight: 400;
  font-size: var(--body-font-size-l);
  line-height: 30px;
  text-align: center;
}

.recommended .products .product-card .details .subtitle {
  text-align: center;
}

.recommended .products .product-card .image {
  max-width: 200px;
}

@media (min-width: 700px) {
  .recommended .products {
    display: flex;
    flex-flow: row wrap;
  }

  .recommended .products .product-card .details .title {
    text-align: left;
  }

  .recommended .products .product-card .details .subtitle {
    text-align: left;
  }
}

@media (min-width: 900px) {
  .product {
    flex-direction: row;
    max-width: 1240px;
    margin: 0 auto;
    gap: 50px;
  }

  .product > div {
    width: 100%;
  }

  .product .info .button {
    width: auto;
  }

  main .product-container .product-details-wrapper {
    margin-top: 50px;
  }

  .recommended .products {
    display: flex;
  }
}